// Variables del proyecto 


$color-principal: #252326;
$color-secundario: #cc8383;
$color-blanco: whitesmoke;
$color-tarjeta: #5c3e62;
$color-borde-tarjeta: #fef5c6;
$color-fondo-contacto: #141414;
$color-boton-contacto: #ffd953;
$color-input-border: #2c2c2c;